body{
	font-family:font-family: 'Lora', serif;
}
header{
	height:100px;
	background-color:#E2231B;
	color:white;
	font-size:450%;
}

article{
	height:570px;
	background-color:#E2231B;
	color:white;
	font-size:250%;
}

p{
	padding:30px 10px;
}
