/*body style*/
body{
  height:auto;
  min-height:100%;
  bottom:0px;
  left:0px;
  right:0px;
  position:absolute; top:0;
} 

 h4{
  font-weight:bold;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #E2231B;
  color: white;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%;
  bottom:0px;
  left:0px;
  right:0px;
  postition:relative;
  top:0;}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
  font-size:80%;
}


/* Set black background color, white text and some padding */
footer {
  background-color: #E2231B;
  color: white;
  padding: 0;
  position:fixed;
  height:25px;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
}

    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: 100%;
    padding: 15px;
  }
  .row.content {height:100%;}
}

.form{
  width:800px;
  margin:auto;
  padding-top:20px;
}

.abs{
	width:465px;
	height:200px;
}


.rp{
	width:550px;
	height:500px;
}


.field{
	padding:10px;
}

.title{
	width:500px;
}